.catBtn {
  background: #007bff;
  border-radius: 10px;
  color: #ffffff;
}

.title {
  font: Bold 30px/39px Helvetica Neue;
  letter-spacing: 0;
  color: #030303;
}

.title img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.search-bar input {
  border: none;
  background: transparent;
}

.search-bar {
  background-color: #eeeeee;
  padding: 6px 1rem;
  border-radius: 10px;
}
.search-bar img {
  width: 12px;
  height: 12px;
}

.main-content-heads {
  margin-top: 5.5rem !important;
}

.ids {
  font-size: 12px;
  font-family: Helvetica Neue;
  letter-spacing: 0;
  color: #000000;
  opacity: 1;
  padding-top: 2rem;
  width: 5%;
}

.details p {
  font-size: 12px;
}

.details {
  width: 30%;
}

.details img {
  height: 58px;
  object-fit: cover;
  object-position: center;
}

table {
  font-size: 12px;
}

th {
  background-color: #eeeeee;
  font-size: 14px;
}

.green-colored {
  color: #009b2a;
}

.red-colored {
  color: #ff0000;
}

.color-btn {
  background: #529ded 0% 0% no-repeat padding-box;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 0.8rem 0.5rem;
  width: 100%;
}

.table-switch span {
  font-weight: bold;
  color: #1d1d1d;
  font-size: 20px;
  padding-right: 2rem;
  margin-left: 0.4rem;
  cursor: pointer;
  border-left: 1px solid lightgray;
}
.table-switch span:first-of-type {
  margin-left: 0;
  border-left: none;
}
.on {
  color: #2268d8 !important;
  border-bottom: 4px solid #2268d8;
  font-size: 20px;
  padding-right: 2rem;
  margin-left: 0.4rem;
  font-weight: bold;
}

.print-btn {
  font-weight: bold;
  font-size: 14px;
}

.mark-select {
  border: none;
  color: #1a3a54;
  font-weight: bold;
}

.save-btn {
  background-color: #d0d0d0;
  color: #ffffff;
}

tr {
  cursor: pointer;
}
