.back-bg {
  display: inline-block;
  padding: 0.21rem 0.34rem;
  background-color: #007bff;
  border-radius: 50%;
}

.back-bg img {
  width: 20px;

  object-fit: contain;
  object-position: center;
}

.bordered {
  border-left: 1px solid lightgray;
}

.strip {
  background-color: #ffffff;
  padding: 3rem 2rem;
  box-shadow: 0px 3px 50px #0000000f;
}

.blue-colored {
  font-weight: 500;
  color: #007bff;
}

.strip-15 {
  font-size: 14px;
}

.strip-12 {
  font-size: 12px;
}

.strip img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.strip-border {
  padding-left: 1.5rem;
  height: 40px;
  border-left: 1px solid lightgray;
}

.wall {
  background-color: #ffffff;
  padding: 2rem 0;
  box-shadow: 0px 3px 50px #0000000f;
}

.underline {
  padding-bottom: 0.54rem;
  border-bottom: 1px solid lightgray;
}

.padding-off {
  padding-left: 0 !important;
}

.gray-strip {
  background-color: #eeeeee;
  margin-top: 4rem;
  padding: 1rem 1rem;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
}

.each-img img {
  width: 250px;
  height: 300px;
  object-fit: contain;
  object-position: center;
}
.each-img div {
  margin-top: 0.8rem;
  text-align: center;
}

.table-img {
  width: 80px;
  height: 70px;
  object-fit: contain;
  object-position: center;
}

.eye {
  width: 20px;
  height: 20px;
  object-fit: contain;
  object-position: center;
  margin-top: 2rem;
}
